* {
  margin: 0;
  padding: 0;
}

#debit-card {
  display: grid;
  margin-top: 2%;
  margin-left: 7%;
  width: 450px;
  height: 400 px;
  border: 5px solid rgb(66, 30, 19);
  border-radius: 30px;
  text-align: left;
  font-size: 1em;
  float: left;
  align-items: stretch;
}
.return-home {
  text-decoration: none;
  height: 40px;
  width: 10vw;
  border: 2px solid rgb(107, 136, 165);
  background-color: azure;
  font-size: 1.5em;
  color: rgb(182, 197, 212);
  border-radius: 10px;
  float: left;
}
#debits-page {
  min-height: 100vh;
  height: 100%;
}
#debits-page h1 {
  text-align: center;
  font-size: 3em;
}
#debit-card h3 {
  margin: 0;
  padding: 20px;
}
#debits-page button {
  text-decoration: none;
  height: 40px;
  width: 10vw;
  border: 2px solid rgb(107, 136, 165);
  background-color: azure;
  font-size: 1.5em;
  color: rgb(182, 197, 212);
  border-radius: 10px;
}
.balanceBtn {
  float: right;
}
.addBtn {
  float: right;
}
#debit-form form {
  margin-left: 25%;
  font-size: 1.5em;
  padding: 10px;
}
#debit-form form input {
  height: 20px;
}
#debit-form .submit-btn {
  margin-left: 35%;
  margin-top: 0.5%;
}
